.arrowBox {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    margin-left: -40px;
    margin-top: -290px;
}

.arrowBox:hover {
    cursor: pointer;
}

/* 태블릿 세로 */
@media screen and (max-width: 768px) {
    .arrowBox {
        width: 660px;
        margin-left: -30px;
    }

}

/* 모바일 세로 */
@media screen and (max-width: 480px) {
    .arrowBox {
        width: 370px;
        margin-top: -460px;
        margin-left: -25px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

}