.section {
    width: 100%;
    height: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 960px;
}

@media screen and (max-width: 760px) {
    .box {
        width: 400px;
    }
}

@media screen and (max-width: 390px) {
    .box {
        width: 340px;
    }
}