.section {
    width: 100%;
    height: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 960px;
}

/* 태블릿 세로 */
@media screen and (max-width: 768px) {
    .box {
        width: 600px;
    }
}

/* 모바일 세로 */
@media screen and (max-width: 480px) {
    .box {
        width: 340px;
    }
}