html,
body {
  font-family: 'NanumSquare';
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  font-size: normal;
  src: url('/fonts/nanum/NanumSquareRoundL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  font-size: normal;
  src: url('/fonts/nanum/NanumSquareRoundB.ttf') format('truetype');
}

body {
  font-family: 'NanumSquare';
}