.aboutBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    height: 200px;
}

.aboutBox h5 {
    font-size: 32px;
    margin: 0;
    margin-top: 14px;
}

.strongBlue {
    color: #0077ff;
}

.strongOrange {
    color: #ff8e23
}

/* 태블릿 세로 */
@media screen and (max-width: 768px) {
    .aboutBox {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* 모바일 세로 */
@media screen and (max-width: 480px) {
    .aboutBox {
        padding-left: 24px;
        padding-right: 24px;
    }
}