.infoBox {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
}

.info div {
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-radius: 14px;
}

.info div span {
    display: inline-block;
    width: 70px;
}

.hover:hover {
    color: rgb(51, 122, 254);
}

/* 태블릿 세로 */
@media screen and (max-width: 768px) {
    .infoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        margin-top: 24px;
    }
}

/* 모바일 세로 */
@media screen and (max-width: 480px) {
    .infoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        margin-top: 24px;
    }


}