.nav {
    position: fixed;
    top: 20px;
    right: 5%;
    width: 300px;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.nav button {
    border: 0;
    background-color: transparent;
    font-size: 14px;
    padding: 10px;
}

.nav button:hover {
    cursor: pointer;
}

.selected {
    font-weight: bold;
    /* 선택된 섹션의 폰트를 굵게 설정 */
}