.box {
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 240, 240);
    border-radius: 18px;
    align-items: center;
    padding-bottom: 48px;
    padding-top: 48px;
    padding-left: 20px;
}

.slideImageBox {
    width: 45%;
}


.infoBox {
    width: 40%;
    min-height: 320px;
}

.slideImage {
    position: "relative";
    width: "400px";
    height: "300px";
}

.content {
    text-align: justify;
    line-height: 24px;
}

.skillBox h4 {
    margin-bottom: 10px;
}

.skill {
    width: 24px;
    display: inline-block;
    margin-right: 14px;
}

.linkBox {
    margin-top: 12px;
}

.linkBox h4 {
    margin-bottom: 10px;
}

.linkBox a {
    margin-right: 12px;
}

@media screen and (max-width: 768px) {
    .box {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .slideImageBox {
        width: 80%;
    }


    .infoBox {
        width: 80%;
        min-height: 320px;
        margin-top: 48px;
        margin-bottom: 24px;
    }
}