.box {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box h4 {
    font-size: 34px;
    margin: 0;
    margin-top: 14px;
}

.box h5 {
    color: #b3b3b3;
    margin-top: 12px;
}